<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head> 
<body>
    <div class="seventhlayout">
        <div class="link">
          <center><h3 id="footer">Programs</h3></center> 
           <ol>
             <li> <a href="#">Web Hosting</a></li>
             <li> <a href="#">Reseller Hosting</a></li>
             <li> <a href="#">Local Servers in Nigeria</a></li>
             <li> <a href="#">Hosting Transfer</a></li>
             <li> <a href="#">Cloud Hosting</a></li>
             <li> <a href="#">Google Workspace</a></li>
             <li> <a href="#">Microsoft 365</a></li>
           </ol>
         </div>
         <div class="link">
           <center><h3 id="footer">News</h3></center>
           <ol>
             <li> <a href="#">Domain Registration</a></li>
             <li> <a href="#">Domain Transfer</a></li>
             <li> <a href="#">Domain Reseller</a></li>
           </ol>
         </div>
         <div class="link">
          <center><h3 id="footer">Services</h3></center> 
           <ol>
             <li> <a href="#">SSL Certificate</a></li>
             <li> <a href="#">Site Builder</a></li>
             <li> <a href="#">Web Design</a></li>
             <li> <a href="#">Website Protection</a></li>
             <li> <a href="#">Website Backup</a></li>
             <li> <a href="#">Domain Reseller API</a></li>
             <li> <a href="#">Whogohost Enterprise</a></li>
           </ol>
         </div>
         <div class="link">
         <center><h3 id="footer">Company</h3></center>
           <ol>
             <li> <a href="#">About Us</a></li>
             <li> <a href="#">Contact Us</a></li>
             <li> <a href="#">Annoucements</a></li>
             <li> <a href="#">Affilate System</a></li>
             <li> <a href="#">Cloud Hosting</a></li>
             <li> <a href="#">Google Workspace</a></li>
             <li> <a href="#">Microsoft 365</a></li>
           </ol>
         </div>
         <div class="link">
          <center><h3 id="footer">Support</h3></center> 
           <ol>
             <li> <a href="#">Client Login</a></li>
             <li> <a href="#">Knowledge Base</a></li>
             <li> <a href="#">Downloads</a></li>
           </ol>
         </div>
         <div class="connect">
          <center><h4 style="color: white; margin-top: 1px;">STAY CONNECTED</h4></center> 
           <div class="footericon">
           
               
             <div>
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0QH_BIrixa6oND9nBsiphz_8HnCso7TrimA&usqp=CAU" alt="twitter">
             </div>
               
             <div>
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScD-tuX-_az3QDfepbNNh8PEMu3dKEUk3mGg&usqp=CAU" alt="facebock">
             </div>
               <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGHrU6wI7viX3FM1vueRfqIyOaaknrWxbnnA&usqp=CAU" alt="linkedin">
               </div>
               <div>
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3I6bgaRkAJVn8ErA25m8nYTunl0dhVe3amg&usqp=CAU" alt="youtube">
               </div>
               <div>
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEXtK6LZuOhYqykGCA0bTsbzy8dkCNvUpcaA&usqp=CAU" alt="instagram">
               </div>
               
    
           </div>
         </div>
       </div>
       <div class="Footer">
         <span class="copyright"><p>© 2023 Prinstine Pinnacle | Where Excellence Meets Education</p></span>
         <div class="flink">
           <a id="flink1" href="#">Terms of Service</a>
           <a id="flink1" href="#">Privacy Policy</a>
           <a id="flink1" href="#">Refund Policy</a>
         </div>
       </div>
    </div> 
</body>
</html>