<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>

    <div class="nav-top">
        <div class="text"><a href=""> Email:  Pristinegroup@gmail.com</a>
            <a href=""> +1 23658757768  /  +1 2355678689</a></div>
        
    </div>

    <header>
        <nav class="navbar">
            <div id="logo">
                <img src="/image/edited logo.jpg" alt="Pristine Pinnacle">
                <a href="#">Pristine Pinnacle</a>
            </div>
            <ul class="nav-links">
                <li><a href="/Home">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">News</a></li>
            </ul>
            <div class="btn">
              <a href="/registration"><button id="btn">Register</button></a>  
               <a href="/login"><button id="btn">Login</button></a> 
            </div>
           
        </nav>
    </header>

</body>
</html>
