<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/student.css">
</head>
<body>
    <%- include('partials/nav') %>
<div class="login">
    <h1 id="reg">Reset Password</h1>
    <h4 style="color: red;"><%=messages%></h4>
        <form method="POST" action="/forgotpassword" style="padding: 20px;">
            <label for="username" style="text-align: start; color: white;" >Username</label>
            <input type="text" id="username" name="username" placeholder="username"><br>
    
            <label for="password" style="text-align: start; color: white;">New password</label>
            <input type="password" id="password" name="newpassword" placeholder="password" required><br>
    
            <button class="logbtn">Submit</button>
            
        </form>
</div>

<%- include('partials/footer') %>
    

</body>
</html>