<!DOCTYPE html>
<html lang="en">
    <%- include('partials/nav') %>
    <link rel="stylesheet" href="/css/index.css">
<body>
    

    <div class="hero-page">
        <div class="text-area">
            <p>Where Excellence Meets Education</p>
            <h1>
                Elevate your 
            </h1>
            <h1>Future with </h1>
            <h1>Pristine</h1>
            <h1>Pinnacle!</h1>
            <p>Empowering Minds. Shaping Success Stories.</p>
            <div class="btn">
                <button><a href=""></a>Know More</button>
                <a href="/registration"><button>Apply Now</button></a>
            </div>
        </div>

        <div class="slideshow-container">
            <div class="slide fade">
                <img src="/image/istockphoto-875960504-edited.jpg" alt="Image 1">
            </div>

            <div class="slide fade">
                <img src="/image/graduation.jpg" alt="Image 4">
            </div>
            <div class="slide fade">
                <img src="/image/happy 1.jpg" alt="Image 5">
            </div>
            <div class="slide fade">
                <img src="/image/happy grils.jpg" alt="Image 6">
            </div>
            <div class="slide fade">
                <img src="/image/old man.jpg" alt="Image 7">
            </div>
            <div class="slide fade">
                <img src="/image/people.jpg" alt="Image 8">
            </div>
            <div class="slide fade">
                <img src="/image/happy graduates.jpg" alt="Image 3">
            </div>
        </div>
    </div>
    
    <div class="fifthlayout">
        <div class="layout5">
            <h1 id="head5">Different Courses, same top class support</h1>

        <p id="para5">Our experts are on hand to help every step of the way. They offer assistance, help with website migrations and ongoing tech support by live chat, phone and ticket.</p>

       
        <button id="fbttn1">Chat with us now</button> <button id="fbttn2">Open a support ticket</button>
        </div>
        <div class="img5">
            <img src="https://www.whogohost.ng/public/assets/img/backp.svg" alt="">
        </div>
        
    </div>

    <div class="schoolLife">
        <div class="libray">
            <img src="https://images.unsplash.com/photo-1526315060860-f05bd462eb60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzA2fHxzdHVkZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="library">
        </div>
        <div id="text">
            <h2 style="color: rgb(34,79,116);">Why Pristine Pinnacle?</h2>
            <p>Studying at Pristine Pinnacle joins you to over 2,000 students from different cultures and backgrounds from across Nigeria and Africa. With our ever-increasing global reputation for excellence and creativity, and innovative approaches to teaching, you will be given the opportunity to join a community of professionals in a highly competitive and academic environment.</p>

           <p>Our team of first-rate teaching staff in a vast selection of courses sets you on the right path for a successful academic pursuit. Also, our policy on the use of ICT enables 21st century educational skills and provides the environment for a vibrant and technology-driven education. Browse through this section of the website to discover all you need to know about studying at Pristine Pinnacle.</p> 
           <button > Read More</button>
        </div>
     </div>
     <%- include('partials/footer') %>
<script src="/js/index.js"></script>
</body>
</html>