<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/regpath.css">
</head>
<body>
    
    <div class="modal">
       
        <div class="modal_content">
            <h3>Enroll as student or teacher</h3>
            <a href="/student"><button>Student registration</button></a> 
            <a href="/teacher"><button>Teacher registration</button>
            </a> 
            <p>Have an account? <a href="/login">Log in now</a> </p>
        </div>
    </div>
    
 
</body>
</html>